<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="MagentoHackathon\BatchApi\Api\Data\BatchResultInterface" type="MagentoHackathon\BatchApi\Model\BatchResult" />
    <preference for="MagentoHackathon\BatchApi\Api\BatchProductRepositoryInterface" type="MagentoHackathon\BatchApi\Model\BatchProductRepository" />
</config>
